@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/Segoe UI.woff") format("woff");
  /* font-weight: normal; */
  font-style: normal;
}

a {
  text-decoration: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #333;
  font-family: "Segoe UI", "Outfit", "Roboto", sans-serif;
  line-height: 1.5;
  overflow: hidden;
  position: relative;
  background: "linear-gradient(120deg,#f0c9f8,#f7eff6)";
}

#root {
  position: relative;
  z-index: 2;
  min-height: 100vh;
}

.next-btn:hover {
  background: rgb(0, 93, 166);
  cursor: pointer;
}

/* Video background styling */
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
  opacity: 0.2; /* Adjust this value to change the opacity */
}

.red {
  background-color: red !important;
}

.ticketInfo {
  color: #3182ce;
  cursor: pointer;
}

.step3email {
  font-weight: 700;
  font-size: 15px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar {
  width: 10px; /* width for vertical scrollbar */
  height: 10px; /* height for horizontal scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

/* Style when hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

/* Optional: add a background to the scrollbar track */
::-webkit-scrollbar-track {
  background-color: lightgrey;
  border-radius: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
